body {
    text-align: center;
}
div#superscore {
    margin: auto;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    width: 90%;
    height: 90vh;
}

#title {
    font-size: 12vw;
    font-weight: bold;

}

#clock {
    font-size: 13vw;
}

.score {
    font-size: 14vw;
}

#reset-buttons {
    margin: 10pt;
}

button {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
