body {
    text-align: center;
}
div#superscore {
    margin: auto;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    width: 90%;
    height: 90%;
}

#title {
    font-size: 10vw;
    font-weight: bold;

}

#clock {
    font-size: 11vw;
}

.score {
    font-size: 11vw;
}

#reset-buttons {
    margin: 10pt;
}

button {
  display:;
  width:;
  border: none;
  background-color: #green;
  padding: 14px 28px;
  font-size: 3vw;
  cursor: pointer;
  text-align: center;
}

button {
  display:;
  width:;
  border: none;
  background-color: #red;
  padding: 14px 28px;
  font-size: 3vw;
  cursor: pointer;
  text-align: center;
}
